<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="../static/css/confirm.css">
        <title>確認画面</title>
    </head>
    <body>
        <h3 id="text">
            入力を確認しました。<br>
            ページを閉じます。
        </h3>
        <!-- LIFF SDK の読み込み -->
        <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
        <script src="static/js/confirm.js"></script>
    </body>
</html>