<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/enter_address.css">
    <title>住所入力</title>
</head>
<body>
        <form action="/recieve_address" method="POST"id="inputform">
            <div class="cp_ipcheck">
                <input required type="checkbox" class="option-input02 checkbox" id="idChecker" />
                <span>ユーザーIDの送信を承諾</span>
            </div>

            <div class="cp_iptxt">
                <input required type="number" placeholder="郵便番号" id="zipcode" name="zipcode" onKeyUp="AjaxZip3.zip2addr(this,'','streetAddress','streetAddress');">
                <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
            </div>

            <div class="cp_iptxt">
                <input required type="text" placeholder="住所" id="streetAddress" name="streetAddress">
                <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
            </div>
            
            <div class="cp_iptxt">
                <input type="text" placeholder="番地以降" id="address" name="address">
                <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
            </div>
            <!--questionとanswerを無理やり渡したい。-->
            <input type="hidden" name ="question" value="question_n">
            <input type="hidden" name="answer" value="moving_2">
            <!--hiddenでuserIDも渡す。-->
            <input required hidden type="text" id="userId" name="user_id">
            <!--送信ボタン。-->
            <div class="cp_submit">
                <button class="cp_button06" id="sendButton">送信</button>
            </div>
        </form>
        <br>
        <!--<button id="closeButton">閉じる</button>-->
    </div>

    
    <!-- LIFF SDK の読み込み -->
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <!--俺が作ったjs実行系-->
    <script src="static/js/liff_byTakao.js"></script>
    <!--郵政のやつ-->
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
</body>
</html>